* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #070b16;
  color: white;
  display: flex;
  min-height: 100vh;
}


/* SIDEBAR */

.sidebar {
  width: 230px;
  background: #0d1425;
  padding: 25px 15px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar h2 {
  margin-bottom: 30px;
  color: #25a8ff;
}

.sidebar button {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background: #151f35;
  color: white;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
}

.sidebar button:hover {
  background: #1677ff;
}


/* MAIN */

.main {
  margin-left: 230px;
  width: calc(100% - 230px);
  padding: 35px;
}


/* PAGE */

.page {
  display: none;
}

.page.active {
  display: block;
}


/* HOME */

.hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    #101c38,
    #08101f
  );
}

.hero p {
  color: #8da9cc;
  margin-bottom: 15px;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 20px;
}


/* HEADINGS */

h1 {
  margin-bottom: 25px;
}


/* MATCH */

.match {
  background: #10182a;
  border: 1px solid #1d2b46;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.match .teams {
  font-size: 17px;
}

.score {
  font-size: 25px;
  font-weight: bold;
}

.status {
  color: #35d07f;
  font-size: 12px;
}


/* RANKING */

.rank {
  background: #10182a;
  border: 1px solid #1d2b46;
  padding: 18px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.rank-name {
  font-weight: bold;
}

.rank-points {
  color: #25a8ff;
  font-weight: bold;
}


/* FORM */

.form {
  max-width: 500px;
  background: #10182a;
  padding: 25px;
  border-radius: 15px;
}

.form input {
  width: 100%;
  padding: 13px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  background: #1a263d;
  color: white;
}

.form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #1677ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#message {
  margin-top: 15px;
}


/* MOBILE */

@media (max-width: 700px) {

  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    top: auto;
    display: flex;
    gap: 5px;
    padding: 8px;
    z-index: 100;
  }

  .sidebar h2 {
    display: none;
  }

  .sidebar button {
    margin: 0;
    padding: 10px 5px;
    text-align: center;
    font-size: 11px;
  }

  .main {
    margin-left: 0;
    width: 100%;
    padding: 20px;
    padding-bottom: 90px;
  }

  .hero h1 {
    font-size: 35px;
  }

  .match {
    gap: 15px;
  }

}
